aiohttp==3.8.6
aiosignal==1.3.1
altgraph==0.17.4
async-timeout==4.0.3
attrs==23.1.0
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
colorama==0.4.6
frozenlist==1.4.0
google-api-core==2.14.0
google-auth==2.23.4
google-cloud-speech==2.22.0
googleapis-common-protos==1.61.0
grpcio==1.59.3
grpcio-status==1.59.3
h11==0.14.0
idna==3.4
iniconfig==2.0.0
multidict==6.0.4
openai==0.28.1
outcome==1.3.0
packaging==23.2
pefile==2023.2.7
pipinstall==1.0.0
pluggy==1.3.0
proto-plus==1.22.3
protobuf==4.25.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.10
PySocks==1.7.1
pytest==7.4.3
pywin32-ctypes==0.2.2
requests==2.31.0
rsa==4.9
selenium==4.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
tqdm==4.66.1
trio==0.22.2
trio-websocket==0.11.1
urllib3==2.0.7
wsproto==1.2.0
yarl==1.9.2
